{% extends "base.html" %}

{% block content %}
<form action="/tags", method='post'>
<div>
    <label for="tag">New spending tag : </label>
    <input class="form--box" type="text" id="tag" name="tag" required>
</div>
<br>
<div>
    <label for="active">Active : </label>
    <select class="form--box" id="active" name="active">
        <option value="true">yes</option>
        <option value="false">no</option>
    </select>
</div>
<br>
<button class="submit--button" type="submit">SUBMIT</button>
</form>
{% endblock %}