.transactions--button {
    margin-top: 15px;
    background-color: rgb(252, 222, 75);
    width: 49%;
    height: 50px;
    border: none;
    font-family: 'Montserrat';
    font-size: large;

}

.transactions--button > a {
    text-decoration: none;
    color: black;
}

.transactions--button:hover {
    background-color: rgba(252, 222, 75, 0.75);
}