{% extends "base.html" %}

{% block content %}
<form action="/transactions/{{ transaction.id }}", method='post'>
    <div>
        <label for="amount">Amount (¥) : </label> 
        <input type="number" min="0" step="100" id="amount" name="amount" value="{{transaction.amount}}" required>
    </div>
    <br>
    <div>
        <label for="tag">Update spending type : </label> 
        <select id="tag" name="tag">
            {% for tag in all_tags %}
            <option value="{{ tag.id }}">   
            {% if tag.active == True %}{{ tag.spending_type }}{% endif %}</option>
            {% endfor %}
        </select>
    </div>
    <br>
    <div>
        <label for="merchant">Update merchant : </label> 
        <select id="merchant" name="merchant">
            {% for merchant in all_merchants %}
            <option value="{{ merchant.id }}">
            {% if merchant.active == True %}{{ merchant.name }}{% endif %}</option>
            {% endfor %}
        </select>
    </div>
    <br>
    <div>
        <label for="date">Update date of transaction : </label>
        <input type="date" id="date" name="date" required>
    </div>
    <br>
    <button class="submit--button" type="submit">UPDATE</button>




{% endblock %}