{% extends "base.html" %}

{% block content %}
<table>
    <tr>
        <th class="tooltip">
            <a href="/transactions/sortby_amount">AMOUNT</a>
            <span class="tooltiptext">Sort by amount</span>
        </th>
        <th>TYPE</th>
        <th>MERCHANT</th>
        <th class="tooltip">
            <a href="/transactions/sortby_date">DATE</a>
            <span class="tooltiptext">Sort by date</span>
        </th>
        <th>EDIT</th>
        <th>DELETE</th>
    </tr>
    {% for transaction in transactions %}
    <tr>
        <td>{{ transaction.amount }}¥</td>
        <td>{{ transaction.tag.spending_type }}</td>
        <td>{{ transaction.merchant.name }}</td>
        <td>{{ transaction.date }}</td>
        <td>
            <form class="edit-form" action="/transactions/{{transaction.id}}/edit" method="POST">
            <button class="edit-button">&#10003;</button>
            </form>
        </td>
        <td>
            <form class="delete-form" action="/transactions/{{transaction.id}}/delete" method="POST">
            <button class="delete-button">&#10007;</button>
            </form>
        </td>
    </tr>
    {% endfor %}
</table>
<div class="spend-box">
    <p id="box1">{{total_spend}}¥</p>
    <p id="box2">TOTAL SPEND</p>
    
</div>

<button class="transactions-button">
    <a href="/transactions/new">ADD NEW TRANSACTION</a>
</button>
{% if at_limit == True %}
<p>you are close to your spending limit</p>
{% endif %}
{% endblock %}