{% extends "base.html" %}

{% block content %}
<form action="/transactions", method='post'>
<div>
    <label for="amount">Amount (¥) : </label> 
    <input type="number" step="100" id="amount" name="amount">
</div>
<br>
<div>
    <label for="spending_type">Choose spending type : </label> 
    <select id="spending_type" name="spending_type">
        <option value=""></option>
        {% for tag in all_tags %}
        <option value="{{ tag.id }}">
        {% if tag.active == True %}    
        {{ tag.spending_type }}{% endif %}</option>
        {% endfor %}
    </select>
</div>
<br>
<div>
    <label for="merchant">Choose merchant : </label> 
    <select id="merchant" name="merchant">
        <option value=""></option>
        {% for merchant in all_merchants %}
        <option value="{{ merchant.id }}"> {% if merchant.active == True %}{{ merchant.name }}{% endif %}</option>
        {% endfor %}
    </select>
</div>
<br>
<div>
    <label for="date">Date of transaction : </label>
    <input type="date" id="date" name="date">
</div>
<br>
<button class="submit--button" type="submit">SUBMIT</button>
{% endblock %}